@import "vars";

@import "libs";

@import "fonts";

@import "global";

.first-screen{	
	position: relative;
}

.header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	min-height: 100vh;
	border-right: 1px solid rgba(#fff, .2);
	text-align: center;
	.logo {
		margin-bottom: 118px;
	}
}

.header__title{
	position: absolute;
	font-weight: 800;
	font-size: 200px;
	line-height: 156px;
	opacity: 0.07;
}

.first-screen__map{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.line-animation{
	stroke-dashoffset: 600;
	stroke-dasharray: 600;
	animation: animdash 5s infinite 6s;
}

@keyframes animdash {
	to{
		stroke-dashoffset: 0;	
	}
}

.menu-list__item{
	margin-bottom: 37px;
}

.menu-list__item span{
	display: block;
	margin-top: 6px;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	letter-spacing: 3px;
}

.date{
	margin-top: 37px;
	font-weight: 300;
	margin-bottom: 30px;
}

.date__day{
	display: block;
	font-weight: 800;
	font-size: 72px;
}

.location{
	position: relative;
	display: inline-block;
	padding-left: 25px;
	font-size: 12px;
	letter-spacing: 1.05px;
	&::before{
		content: "";
		position: absolute;
		left: 0;
		width: 11px;
		height: 13px;
		background-image: url("../img/poi.svg");
	}
}
.first-screen__slider-item{
	position: relative;
	min-height: 100vh;
	background-image: url("../img/first-screen-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.slider-item__info{
	position: absolute;
	right: 80px;
	bottom: 115px;
	text-align: right;
	&-suptitle{
		margin-bottom: 18px;
	}
	&-title{
		font-weight: 800;
		font-size: 80px;
		margin-bottom: 50px;
	}
	&-suptext{
		margin-bottom: 18px;
	}
	&-text{
		font-weight: 800;
		font-size: 40px;
		margin-bottom: 20px;
	}
	&-link{
		img{
			display: inline-block;
		}
	}
}

.slider-arrows{
	position: absolute;
	top: 40px;
	right:80px;
	cursor: pointer;
	z-index: 4;
	opacity: .5;
} 

.slider-arrows_left{
	right:125px;
}

.dots-slider{
	position: absolute;
	right: 50px;
	bottom: 31px;
	& .slick-slide {
		margin-right: 40px;
	}
	.slick-current{
		.dots-box{
			border-color: $green;
		}
	}
}

.dots-box{
	width: 200px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-top: 4px solid #fff;
	padding-top: 11px;
	&__name{
		font-weight: 300;
		font-size: 16px;
	}
	&__number{
		font-weight: 800;
		font-size: 24px;
	}
}

.first-screen__arrows{
	position: absolute;
	left: 209px;
	bottom: 40px;
}

.surf{
	position: relative;
	padding: 160px 0 120px;
	background-image: url("../img/poi-big.svg");
	background-position: right 200px;
	background-repeat: no-repeat;
	background-size: auto;
}

.surf-map{
	position: relative;
	min-height: 635px;
	background-image: url("../img/world-map-dots.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	&-slider{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.surf-map .slick-list,
.surf-map .slick-track{
	height: 100%;
}

.surf-map-slider__item{
	position: absolute;
	.circle{
		position: relative;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
		background-color: $green;
	}
}

.item-1{
	top: 331px;
	left: 348px;
}

.item-2{
	top: 270px;
	left: 490px;
}

.item-3{
	top: 320px;
	left: 697px;
}

.item-4{
	top: 500px;
	left: 765px;
}

.item-5{
	top: 225px;
	left: 905px;
	.info-box{
		top: 30px;
	}
}
.item-6{
	top: 550px;
	left: 995px;
}
.item-7{
	top: 387px;
	left: 1170px;
}

.item-8{
	top: 500px;
	left: 1447px;
}

.slick-current{
	.info-box{
		display: block;
	}
	.circle::after{
		content: "";
		position: absolute;
		top: -17px;
		border: 12px solid transparent;
		border-bottom: 12px solid $green;
	}
}

.info-box{
	display: none;
	position: absolute;
	left: -7%;
	top: -290px;
	width: 285px; 
	padding: 32px;
	border-radius: 6px;
	background-color: rgba(#0F1010, .7);
	&__head{
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
	}
	&__title{
		position: relative;
		font-weight: 800;
		font-size: 18px;
		line-height: 26px;
		padding-bottom: 5px;
		margin-bottom: 8px;
		&::before{
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 80px;
			height: 1px;
			background-color: $green;
		}
	}
	&__subtitle{
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
	}
}

.info-box__content{
	display: flex;
	text-align: center;
	&-item{
		margin-right: 50px;
		&:last-child{
			margin-right: 0;
		}
	}
	img{
		margin: 0 auto;
	}
	&-number{
		font-weight: 800;
		font-size: 16px;
		line-height: 23px;
	}
	&-text{
		font-weight: 300;
		font-size: 10px;
		line-height: 12px;
	}
}

.surf-slider{
	&__item{
		position: relative;
		min-height: 750px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.slick-current{
		.surf-slider__item-cover{
			background-color: rgba(#1C2121, .3);
		}
	}
}

.surf .slider-arrows{
	top: -65px;
	opacity: .25;
}

.slick-slide:nth-child(4n + 1){
	.surf-slider__item{
		margin-top: 32px;
	}
}

.slick-slide:nth-child(4n + 3){
	.surf-slider__item{
		margin-top: 52px;
	}
}

.slick-slide:nth-child(4n + 3){
	.surf-box{
		margin-top: 89px;
	}
}
.surf-slider__item-cover{
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	padding: 72px 0 0 40px;
	background-color: rgba(#1C2121, .85);
	&__title{
		width: 120px;
		font-weight: 800;
		font-size: 40px;
		line-height: 36px;
		margin-bottom: 136px;
	}
	&__location{
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 8px;
		writing-mode: vertical-lr;
		transform: rotate(-180deg);
	}
	.main-btn{
		position: absolute;
		left: 40px;
		bottom: 22px;
	}
}

.surf-location{
	position: absolute;
	top: 30%;
	right: 3%;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 8px;
}

.travel{
	background-image: url("../img/cocktail.png");
	background-repeat: no-repeat;
	background-position: right 109%;	
}

.travel .slider__item-head__title{
	img{
		margin-left: 26px;
	}
}

.sleep{
	background-image: url("../img/frangipani.png");
	background-repeat: no-repeat;
	background-position: right 100%;	
}

.sleep .slider__item-head__title{
	ul{
		margin-left: 26px;
	}
}

.sleep .content__item-description{
	position: relative;
}

.travel,
.sleep,
.shop{
	padding: 100px 0;
	.slider-arrows{
		top: 115px;
	}
}

.travel .main-btn,
.sleep .main-btn{
	display: block;
	text-align: center;
}

.shop-slider__item{
	display: flex;
	align-items: center;
	padding: 0 135px;
	background-image: url("../img/shop-bg.png");
	background-repeat: no-repeat;
	background-position: right center;
	.price{
		text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		font-size: 32px;
		font-style: normal;
		font-weight: 800;
		line-height: 40px;
		margin-bottom: 67px;
	}
}

.shop .slider__item-head__title{
	width: 480px;
	margin-bottom: 47px;
}

.shop-slider__item-content{
	display: flex;
	padding-left: 165px;
}

.product-box{
	position: relative;
	margin-right: 165px;
}

.product-box__description-item{
	position: absolute;
	display: flex;
	align-items: center;
	&.active .product-box__circle{
		&::before{
			display: none;
		}
	}

	&.active .product-box__description-text{
		display: block;
	}
}

.product-box .product-box__description-item:nth-child(2){
	top: 215px;
	right: 50px;
}

.product-box .product-box__description-item:nth-child(3){
	top: 310px;
	left: 0px;
}

.product-box .product-box__description-item:nth-child(4){
	bottom: 65px;
	left: 50px;
}

.product-box__circle{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
	z-index: 1;

	&::before, &::after {
		content: "";
		position: absolute;
		background: $green;
	}
	&::before {
		width: 2px;
		height: 100%;
	}

	&::after {
		width: 100%;
		height: 2px;
	}
}

.product-box__description-text{
	display: none;
	position: absolute;
	width: 415px;
	padding-left: 110px;
	font-size: 24px;
	font-weight: 800;
	line-height: 24px;
	&::before{
		content: "";
		position: absolute;
		top: 50%;
		left: 30px;
		width: 80px;
		height: 1px;
		background-color: #fff;
	}
}

.extras-box{
	align-self: flex-end;
}

.extras-box__title{
	margin-bottom: 23px;
	font-size: 28px;
	font-style: normal;
	font-weight: 800;
	line-height: 40px;
}

.extras-box__content{
	display: flex;
	align-items: flex-end;
}

.extras-box__content-item{
	margin-right: 57px;
	text-align: center;
}
.extras-box__content-img{
	margin-bottom: 35px;
}

.extras-box__content-name{
	margin-bottom: 16px;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 8px;
	opacity: .5;
}

.extras-box__content-price{
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 800;
	line-height: 40px;
}

footer{
	text-align: center;
	.main-btn span{
		padding-right: 17px;
		margin-bottom: 30px;
		&::after{
			display: none;
		}
	}

	.copyright{
		text-align: center;
		font-size: 12px;
		font-weight: 300;
		line-height: 14px;
		letter-spacing: 1.05px;
		opacity: .5;
	}
}
@import "media";
