.left{
	float: left;
	margin-right: 24px;
}

.right{
	float: right;
	margin-left: 24px;
}

.btn-default{
	display: inline-block;
	border: 2px solid;
	border-radius: 30px;
	padding: 15px 4em;
	font-size: 0.75em;
	font-weight: 400;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	outline: none;
}
/*///////////////////////Content///////////////////////////////*/
.content{
	padding: 112px 0;
	color: #A7A7A7;
}
.content h2{
	text-align: center;
	font-size: 44px;
	font-weight: 300;
	margin-bottom: 22px;
}

.content h2 + p{
	text-align: center;
	color: #BBBBBB;
	margin: 0 0 24px 0;
}

.content .wrapper__content,
.content p{
	display: block;
	margin-bottom: 20px;
	line-height: 1.7;
	font-size: 18px;
}

.content .wrapper__text{
	display: block;
	overflow: hidden;
}

.wrapper__content img{
	display: block;
	border-radius: 50%;
	
}

@media screen and (max-width: 615px){
	.navbar {	
		position: fixed;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 15px;
		background: #6cc091;
		transform: translateX(100%);
	}

	.navbar.active {
		right: 0;
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transform: translateX(0);
		transition: transform 0.5s; 
		z-index: 2;
	}

	.header .navbar a {
		margin-right: 0;
		margin-bottom: 2em;
	}

	.menu-btn {
		display: block;
	}
	.menu-btn.active span:nth-of-type(1) {  
		display: none;
	}

	.menu-btn.active span:nth-of-type(2) {
		top: 50%;
		transform: translate(-50%, 0%) rotate(45deg);  
	}

	.menu-btn.active span:nth-of-type(3) {
		top: 50%;
		transform: translate(-50%, 0%) rotate(-45deg); 
	}

	.content {
		padding: 100px 20px 50px 20px;
	}

	.form {
		padding: 50px 20px 50px 20px;
	}

	.box__input {
		flex-direction: column;
	}

	.input__wrapper {
		width: 100%;
		margin-bottom: 2em;
	}
}

@media screen and (max-width: 550px) {
	.wrapper__img img {
		float: none;
		margin: 0 auto 20px auto;
	}
}

@media screen and (max-width: 400px){
	.navbar.active {
		width: 100%;
	}

	.form form {
		width: 100%;
	}
}