*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: white;
}

html,
body{
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
}
/*////////////////////////Common///////////////////////////////////*/
.container{
	max-width: 1200px;
	margin: 0 auto;
}

.btn-default{
	display: inline-block;
	border: 2px solid;
	border-radius: 30px;
	padding: 15px 4em;
	font-size: 0.75em;
	font-weight: 400;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.btn-default:hover {
	background-color: #6cc091;
	color: #fff;
	cursor: pointer;
}

.btn-default:hover a {
	color: #fff;
}

/*///////////////////Header//////////////////////////////////////*/
header .container{
	display: flex;
	justify-content: space-between;
	padding: 4em 0 4em 0;

}

.header .logo{
	font-size: 1.3em;
	font-weight: 400;
	color: white;
}

.header .navbar a{
	margin-right: 28px;
	font-size: 1.3em;
	color: white;
}

.header .navbar a:last-child{
	margin-right: 0;
}

.header .navbar a:hover{
	text-decoration: underline;
}
/*/////////////////////Menu////////////////////////////////////////*/
.menu-btn {
	display: none;
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
}

.menu-btn span {
	display: block;
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}
/*/////////////////////Banner//////////////////////////////////////*/

.background{
	/*height: 90%;*/
	width: 100%;
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/*padding: 0 0 20px 0;*/

}

.cover{
	width: 100%;
	height: 100%;
	background-color: rgba(75, 75, 93, 0.85);
	/*padding: 0 0 20px 0;*/
	color: white;
}

.banner__wrapper{
	border-top: 2px solid rgba(255, 255, 255, 0.2);
	padding-top: 8em;
	text-align: center;
}

.banner h1{
	font-size: 3.5em;
	font-weight: 400;
	line-height: 1em;
	margin: 0 0 1em 0;
}

.banner__items{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 75px;
	
}

.banner__items div:nth-child(1),
.banner__items div:nth-child(2),
.banner__items div:nth-child(3){
	position: relative;
	text-align: center;
}

.banner__items div:nth-child(1):before,
.banner__items div:nth-child(2):before,
.banner__items div:nth-child(3):before{
	position: absolute;
	font-size: 2em;
	font-family: 'icomoon';
	color: #6cc091;
	left: 50%;
	margin-right: -50%;
	transform: translateX(-50%);

}

.banner__items div:nth-child(1):before{content: '\e900';}
.banner__items div:nth-child(2):before{content: "\e90f";}
.banner__items div:nth-child(3):before{content: '\e999';}

.banner__items div:nth-child(1):before,
.banner__items div:nth-child(1){
	padding-right: 150px;
}
.banner__items div:nth-child(2):before,
.banner__items div:nth-child(2){
	padding: 0 150px;
}

.banner__items div:nth-child(3):before,
.banner__items div:nth-child(3){
	padding-left: 150px;
}

.banner__item{
	border-right: 2px solid rgba(255, 255, 255, 0.2);
}

.banner__item:last-child{
	border-right: none;
}

.banner__item h3{
	margin-top: 62px;
	font-size: 2.5em;
	font-weight: 400;
	line-height: 1.5;
}

.banner__item p{
	font-size: 1.3em;
	color: rgba(255, 255, 255, 0.55);
}
/*///////////////////////Content///////////////////////////////*/
.content{
	padding: 112px 0;
}

.content .container{
	display:flex;
	justify-content: space-between;
}

.content__box{
	text-align: center;
}

.content img{
	display: block;
	border-radius: 50%;
	margin: 0 auto;
}

.content__text h3{
	text-align: center;
	font-size: 1.75em;
	font-weight: 400;
	line-height: 1.5;
	color: #555;
	margin: 0.5em 0 1em 0;
}

.content__text p{
	font-size: 1.1em;
	color: #6A6A6A;
	text-align: center;
	letter-spacing: 2px;
	margin: 0em 0 2em 0;
	padding: 0 60px;
}

.content .btn-default {
	border-color: #6cc091;
	color: #6cc091;
}

.content .btn-default a{
	color: #6cc091;
}

.content .btn-default:hover a{
	color: #fff;
}
/*/////////////////////Form///////////////////////*/
.form{
	background-color: #6cc091;
	color: white;
	padding: 112px 0;
}

.form h3{
	text-align: center;
	font-size: 2.75em;
	font-weight: 400;
	margin-bottom: 2em;
}

.form form {
	width: 70%;
	margin: 0 auto;
}

.box__input{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.form label{
	display: block;
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 20px;
}
.input__wrapper{
	width: 48%;
}
.form input{
	width: 100%;
	padding: 10px;
}
.form textarea{
	resize: none;
	width: 100%;
	padding: 10px;
}

.form input,
.form textarea{
	border: 2px solid #8dcca9;
	border-radius: 10px;
	background-color: transparent;
	outline: none;
	color: #fff;
}

.form input::placeholder,
.form textarea::placeholder,
.copyright{
	font-size: 16px;
	font-weight: 400;
	color: #96D9B4;
}

.form input:focus,
.form textarea:focus{
	border-color: #54AD7C;
}

.form button{
	display: block;
}

.form .btn-default{
	margin: 50px auto;
	border-color: white;
	background-color: transparent;
	color: white;
}

.form .btn-default:hover {
	transform: scale(1.1);
}
.copyright{
	text-align: center;
}

@media screen and (max-width: 1200px){ 
	header .container {
		padding: 2em 1em;
	}

	.banner__wrapper {
		padding: 4em 1em;
	}

	.banner__items div:nth-child(1):before,
	.banner__items div:nth-child(1){
		padding-right: 10vw;
	}

	.banner__items div:nth-child(2):before,
	.banner__items div:nth-child(2){
		padding: 0 10vw;
	}

	.banner__items div:nth-child(3):before,
	.banner__items div:nth-child(3){
		padding-left: 10vw;
	}
}

@media screen and (max-width: 816px){
	.banner__items div:nth-child(1):before,
	.banner__items div:nth-child(1){
		padding-right: 5vw;
	}

	.banner__items div:nth-child(2):before,
	.banner__items div:nth-child(2){
		padding: 0 5vw;
	}

	.banner__items div:nth-child(3):before,
	.banner__items div:nth-child(3){
		padding-left: 5vw;
	}

	.content,
	.form {
		padding: 4em 0;
	}

	.content .container {
		flex-direction: column;
	}

	.content__box {
		width: 70%;
		margin: 0 auto;
	}

	.content__box:last-child .btn-default {
		margin-bottom: 0;
	}

	.form h3 {
		margin-bottom: 1em;
	}
}

@media screen and (max-width: 615px){
	.navbar {	
		position: fixed;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 15px;
		background: #6cc091;
		transform: translateX(100%);
	}

	.navbar.active {
		right: 0;
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transform: translateX(0);
		transition: transform 0.5s; 
		z-index: 2;
	}

	.header .navbar a {
		margin-right: 0;
		margin-bottom: 2em;
	}

	.menu-btn {
		display: block;
	}
	.menu-btn.active span:nth-of-type(1) {  
		display: none;
	}

	.menu-btn.active span:nth-of-type(2) {
		top: 50%;
		transform: translate(-50%, 0%) rotate(45deg);  
	}

	.menu-btn.active span:nth-of-type(3) {
		top: 50%;
		transform: translate(-50%, 0%) rotate(-45deg); 
	}

	.banner__item h3 {
		font-size: 1.5em;
	}

	.banner__item p {
		font-size: 1em;
	}

	.content__text p {
		padding: 0;
	}

	.box__input {
		flex-direction: column;
	}

	.input__wrapper {
		width: 100%;
		margin-bottom: 2em;
	}
}

@media screen and (max-width: 415px){
	.banner h1 {
		font-size: 2.5em;
	}
	.banner__items {
		flex-direction: column;
		align-items: center;
	}

	.banner__item {
		border-right: none;

	}
	.banner__items div:nth-child(1):before,
	.banner__items div:nth-child(1){
		padding-right: 0vw;
	}

	.banner__items div:nth-child(2):before,
	.banner__items div:nth-child(2){
		padding: 5vw 0vw 0vw 0vw;
	}

	.banner__items div:nth-child(3):before,
	.banner__items div:nth-child(3){
		padding: 5vw 0vw 0vw 0vw;
	}
}

@media screen and (max-width: 400px){
	.navbar.active {
		width: 100%;
}